  #   F r o n t e n d   n o d e _ m o d u l e s /   f r o n t e n d / . e n v     #   P y t h o n   _ _ p y c a c h e _ _ /   * . p y c     #   E n v   . v e n v /   v e n v /     #   I g n o r e   b u i l d   +   c a c h e   f r o n t e n d / d i s t /   _ _ p y c a c h e _ _ /   * . p y c       . e n v     /.env*.env 